{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title></title>
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzouhupoM5qGld-mCO3ttTzlYg_m2SIFdD1A&usqp=CAU" type="image/gif" sizes="50x50">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <style>
      .fa-linkedin-square{
        color: black;
      }
      .fa-github{
        color: black;
      }
      .fa-envelope{
        color: black;
      }
    </style>
</head>
<body>
<footer class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <span class="ftext">Copyright © 2020 Created with <i class="far fa-heart"></i> and <i class="fas fa-mug-hot"></i> by Libin Luvis</span>
          
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-6">
          <p>Contacts</p><br>
         
            <a href="https://www.linkedin.com/in/libin2020" target="_blank">
              <i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i>
            </a>
            <a href="https://github.com/LIBINLUVIS" target="_blank">
              <i class="fa fa-2x fa-github" aria-hidden="true"></i>
            </a>
            <a href="mailto:libinluvis123@gmail.com" target="_blank">
              <i class="fa fa-2x fa-envelope" aria-hidden="true"></i>
            </a>

        </div>
      </div>
    </div>
  </footer>



<script
src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
crossorigin="anonymous"
></script>
<script
src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
crossorigin="anonymous"
></script>
<script src="https://kit.fontawesome.com/bd2e9379d9.js" crossorigin="anonymous"></script>
</body>
</html>